body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
}
#results {
    background-color: #eee;
    padding:50px;
    border:1px solid #000;
    width:25px;
}
a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0px 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 15px 0;
}

ul {
  padding-left: 30px;
}

.top-bar {
    background-color: grey;
    height: 200px;
}

.progress-bar-wrapper {
    height: 100px;
    width: 700px;
}


.button-wrapper {
    height: 50px;
    float: left;
    width: 50px;
}

.chat {
    height: 200px;
    margin-top: 10px;
}

.chat-left {
	background-image: url("profile1.png");
	background-size: 100%;
	background-repeat: no-repeat;
	height: 200px;
	width: 200px;
	float: left;
}
.chat-right {
	background-image: url("profile2.png");
	background-size: 100%;
	background-repeat: no-repeat;
	height: 200px;
	width: 200px;
	float: right;
}

.progress-wrapper {
    height: 100px;
    width: 100%;
    background-color: white;
}

button.btn-block.btn.btn-lg.btn-primary {
    height: 50px;
    margin: 30px;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.green {
  background-color: green;
}

.video-box {
    height: 100%;
    width: 100%;
}

.topicÔºçenglish {
    line-height: 50px;
    font-size: 42px;
    float: left;
    margin-left: 108px;
    line-height: 100px;
    height: 100px;
    width: 500px;
}

.currentPhrase {
    height: 100px;
    width: 500px;
    background-color: green;
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
    border-radius: 10px;
    margin-top: 20px;
}

.random {
    /* font-size: 100px; */
}