body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
}
#results {
    background-color: #eee;
    padding:50px;
    border:1px solid #000;
    width:25px;
}
a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0px 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 15px 0;
}

ul {
  padding-left: 30px;
}

.top-bar {
    /* background-color: grey; */
    height: 200px;
}

.progress-bar-wrapper {
    height: 100px;
    width: 700px;
}


.button-wrapper {
    height: 50px;
    float: left;
    width: 200px;
}

.chat {
    height: 200px;
    margin-top: 10px;
}

.chat-left {
	background-image: url("profile1.png");
	background-size: 100%;
	background-repeat: no-repeat;
	height: 200px;
	width: 200px;
	float: left;
}
.chat-right {
	background-image: url("profile2.png");
	background-size: 100%;
	background-repeat: no-repeat;
	height: 200px;
	width: 200px;
	float: right;
}

.progress-wrapper {
    /* height: 100px; */
    width: 100%;
    /* background-color: green; */
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    marign-top: 10px;
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    height: 50px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    /* border-radius: 10%; */
}

button.btn-block.btn.btn-lg.btn-primary {
    height: 50px;
    margin: 30px;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.green {
  background-color: green;
}

.video-box {
    height: 100%;
    width: 100%;
    /* position: absolute; */
    /* bottom: 0px; */
}

.topic－english {
    line-height: 50px;
    font-size: 42px;
    float: left;
    /* margin-left: 108px; */
    line-height: 100px;
    height: 100px;
    /* width: 500px; */
    width: 100%;
}

.currentPhrase {
    height: 100px;
    width: 500px;
    background-color: green;
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
    border-radius: 10px;
    margin-top: 20px;
}

.random {
    /* font-size: 100px; */
}

.sentenceListValue {
    float: left;
    margin-left: 10px;
}

.sentenceListValue:hover {
    cursor: pointer;
    background-color: blue;
}

.backgroundBlue {
	background-color: blue;
}

.top-of-top {
    height: 100px;
    /* background-color: lightgray; */
}

.container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
}

.wrapper {
    background-color: lightgrey;
}

.instructions {
    margin-left: 100px;
}

.phraseList {
    text-align: center;
    width: 500px;
    height: 100px;
    margin: 0 auto;
}

.pictureOfPhrase {
    margin: 0 auto;
    width: 400px;
    text-align: center;
}

.pictureOfPhrase {
    background-image: url("france.gif");
}


.pictureOfPhrase {
    height: 100px;
    width: 100px;
    background-size: 100%;
}

.wrapper {
    /* float: left; */
}

.left-panel {
    float: left;
    width: 650px;
    height: 1000px;
}

.rightPanel {
float: left;width: 300px;height: 1000px;}

.container {
    width: 300px;
}

.stage {}

.actualStage {
    text-align: center;
    font-size: 50px;
}

.listValue {
    height: 50px;
    font-size: 20px;
}

.left-panel {}

span {}

.validatedField {
    float: right;
}

.listValue {
    float: left;
}

.listItem {
    height: 50px;
}

.nextStageWrapper {
    z-index: 3;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: orange;
    opacity: 1.0;
}

.nextStageMessage {
    height: 200px;
    margin-top: 200px;
    text-align: enter;
    text-align: center;
    font-size: 40px;
    z-index: 5;
    text-color: white;
    color: white;
}

.card {
    background-color: darkslategrey;
    height: 300px;
    width: 500px;
    margin: 0 auto;
}

.nextStageButton {
    width: 100px;
    height: 60px;
    margin: 0 auto;
    background-color: grey;
}

button.btn-block.btn.btn-lg.btn-primary {
}

button.nextStage.btn-block.btn.btn-lg.btn-primary {
    width: 310px;
    margin: 0 auto;
}

.currentWordArrow {
    float: right;
    background-image: url("arrow.png");
    height: 47px;
    width: 47px;
    background-size: 47px;
    background-repeat: no-repeat;
}